
@model IEnumerable<BeFit.Models.ExerciseType>
@{ ViewData["Title"] = "Typy ćwiczeń"; }
<h2>@ViewData["Title"]</h2>
<p>
    @if (User.IsInRole("Admin")) { <a class="btn btn-primary" asp-action="Create">Dodaj</a> }
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                @if (User.IsInRole("Admin")) {
                    <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                    <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
